/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.star{
  color: goldenrod;
  font-size: 1.0rem;
  position: relative;
  padding: 0 0.5rem; /* space out the stars */
}
.star::before{
  position:absolute;
  top:0;
  left:0;
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605' !important;
  color: goldenrod;
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605' !important;
}

#displayedImage{
    width: 100px;
    height: 100px;
}

#testingID{
    padding-top: 5px;
}

#myImage{
    padding-top: 15px;
    display: block;
    margin: 0 auto;
}

header{
    margin-top: 15px;
}

#displayPhoto{
    width: 300px;
    padding-top: 25px;
    padding-bottom: 15px; 
    display: block;
    margin: 0 auto;
}

#createReviewContent{
    padding: 5px;
}